<style>
    .form-inline {
        display: flex;
        align-items: stretch; /* Ensures both items have the same height */
    }

    .form-control {
        flex: 1; /* This allows the input to expand and take up remaining space */
    }

    .search-button {
        flex: none;
        width: auto; 
    }
    .searchproduct  {
        width: 400px !important; /* Adjust the width as needed */
    }
</style>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/user_assets/img/logo/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between my-3" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ml-5" href="/"><h5>Home</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2" href="/newarrival"><h5>Shop</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2" href="/"><h5>Latest</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2" href="/"><h5>Contact</h5></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="/search" method="post" class="form-inline my-2 my-lg-0">
                        <input class="form-control searchproduct mr-sm-0" type="text" name="searchproduct" placeholder="Search..."
                            aria-label="Search">
                        <button class="btn search-button my-2 mr-5 my-lg-0 my-sm-0" name="search-button" type="submit">Search</button>
                    </form>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/profile"><span class="flaticon-user"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/favourite">
                        <span class="flaticon-heart"></span>
                        <% if (favQuantity > 0) { %>
                            <span class="badge badge-pill badge-danger"><%= favQuantity %></span>
                        <% } %>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="/cart">
                        <span class="flaticon-shopping-cart"></span>
                        <% if (totalQuantity > 0) { %>
                            <span class="badge badge-pill badge-danger"><%= totalQuantity %></span>
                        <% } %>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="sub-navbar bg-dark">
        <ul class="list-inline text-center">
            <% categories.filter(category => category.status !== false).forEach(category => { %>
            <li class="list-inline-item"><a href="/shop?category=<%= category._id %>"><%= category.name %></a></li>
            <% }); %>
        </ul>
    </div>
</header>
