<!-- UserProfile Page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="css/tiny-slider.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="user_assets/img/favicon.ico">


  <link rel="stylesheet" href="user_assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="user_assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="user_assets/css/flaticon.css">
  <link rel="stylesheet" href="user_assets/css/slicknav.css">
  <link rel="stylesheet" href="user_assets/css/animate.min.css">
  <link rel="stylesheet" href="user_assets/css/magnific-popup.css">
  <link rel="stylesheet" href="user_assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="user_assets/css/themify-icons.css">
  <link rel="stylesheet" href="user_assets/css/slick.css">
  <link rel="stylesheet" href="user_assets/css/nice-select.css">
  <link rel="stylesheet" href="user_assets/css/style.css">
  <title>TimeZone</title>

  <style>
    .username{
        font-weight: 600;
        color: #000000;
    }
.heroprofile{
    max-height: 100px;
}
    .welcome{
        color: black;
        font-weight: 700;
        
    }
    .category-options {
      display: none;
    }
    .search-bar {
      background-color: #3b5d50;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      margin: 0;
      display: flex;
      border: 2px solid #efeeee;
      border-radius: 30px;
      overflow: hidden;
    }

    .search-input {
      border: none;
      padding: 10px;
      width: 800px;
      background-color: #3b5d50;
      color: white;
    }

    .search-button {
      background-color: #3d5d50;
      color: white;
      border: none;
      padding: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;

    
    }
  </style>
</head>

<body>

  <!-- Start Header/Navigation -->
  <%-include('userpartial/nav',{categories:categories})%>

  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->








  <div class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center slide-bg">
            <div class="container" style="height: 750px;">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Welcome  </h1>
                            <h1 data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms"><%=name%></h1>
                            <!-- Hero-btn -->
                           
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                        <div class="hero__img " data-animation="bounceIn" data-delay=".4s">
                            <img src="user_assets/img/hero/watch.png" alt="" class=" heartbeat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- slider Area End-->








  
  <!-- <div class="hero">
    <div class="container">
      
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                  
                    <h2 class="welcome">Welcome,<span class="username"><%=name%></span></h2>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div> -->
<!-- End Hero Section -->

  <!-- User Profile Page Content -->
  <div class="container mt-4">
    

    <!-- User Details Section -->
    <a href="/userdetails"><section class="user-details-section mt-4">
      <h3>User Details</h3>
      <!-- Add user details content here -->
    </section></a>

    <!-- Favorites Section -->
    <section class="favorites-section mt-4">
     <a href="/favourite"> <h3>Favorites</h3></a>
      <!-- Add favorites content here -->
    </section>

    <!-- Your Cart Section -->
    <section class="your-cart-section mt-4">
      <a href="/cart"><h3>Your Cart</h3></a>
      <!-- Add cart content here -->
    </section>

    <!-- Your Orders Section -->
    <section class="your-orders-section mt-4">
      <a href="/orderhistory"><h3>Your Orders</h3></a>
      <!-- Add orders content here -->
    </section>

    <!-- Logout Button -->
    <section class="logout-section mt-4">
        <form method="get"action="/logout">
      <button class="btn btn-dange ">Logout</button>
    </form>
    </section>
  </div>
  <!-- End User Profile Page Content -->

		<!-- Start Footer Section -->
	        <!--? Shop Method Start-->
        <!-- Shop Method End-->
    
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding  ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="user_assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do eiusmod tem.</p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Frequently Asked Questions</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Report a Payment Issue</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                  
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="https://www.twiiter.com"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
		<!-- End Footer Section -->	

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/tiny-slider.js"></script>
  <script src="js/custom.js"></script>
</body>
<script src="./user_assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./user_assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./user_assets/js/popper.min.js"></script>
<script src="./user_assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./user_assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./user_assets/js/owl.carousel.min.js"></script>
<script src="./user_assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="./user_assets/js/wow.min.js"></script>
<script src="./user_assets/js/animated.headline.js"></script>
<script src="./user_assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="./user_assets/js/jquery.scrollUp.min.js"></script>
<script src="./user_assets/js/jquery.nice-select.min.js"></script>
<script src="./user_assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="./user_assets/js/contact.js"></script>
<script src="./user_assets/js/jquery.form.js"></script>
<script src="./user_assets/js/jquery.validate.min.js"></script>
<script src="./user_assets/js/mail-script.js"></script>
<script src="./user_assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./user_assets/js/plugins.js"></script>
<script src="./user_assets/js/main.js"></script>


</html>